
  </div>
  <div class="color-table">
    <section class="element alkali color-guide" id="cg-alkali">Alkali Metal</section>
    <section class="element alkaline color-guide" id="cg-alkaline">Alkaline Metal</section>
    <section class="element transition color-guide" id="cg-transition">Transition Metal</section>
    <section class="element basic color-guide" id="cg-basic">Basic Metal</section>
    <section class="element semimetal color-guide" id="cg-semimetal">Semimetal</section>
    <section class="element nonmetal color-guide" id="cg-nonmetal">Nonmetal</section>
    <section class="element halogen color-guide" id="cg-halogen">Halogen</section>
    <section class="element noble color-guide" id="cg-noble">Noble Gas</section>
    <section class="element lanthanide color-guide" id="cg-lanthanide">Lanthanide</section>
    <section class="element actinide color-guide" id="cg-actinide">Actinide</section>
    <section class="element nostandards color-guide" id="cg-nostandards">No Standards</section>
  </div>
  
  </main>
