

    <h2 id="{name}">
       {symbol}&nbsp;
       ({z})&nbsp;{name}&nbsp;&nbsp;&nbsp;
       <div id="floatright">
         <span id="{kcolor}">K:&nbsp;{kedge:.0f}&nbsp;eV</span> 
         <span id="{lcolor}">L<sub>1</sub>:&nbsp;{l1edge:.0f}&nbsp;eV
         L<sub>2</sub>:&nbsp;{l2edge:.0f}&nbsp;eV
         L<sub>3</sub>:&nbsp;{l3edge:.0f}&nbsp;eV</span>
      </div>
    </h2>
      <div class="wrapper">

            <table>
              <tr>
                <th></th>
                <th width=30%>Material</th>
                <th width=25%>Common/mineral name</th>
                <th width=20%>Location</th>
                <th width=2%>&nbsp;</th>
                <th width=28%>Data&nbsp;File</th>
              </tr>
