<!doctype html>
<html>
  <head>
    <title>Common XAFS materials at BMM</title>
    <link rel="stylesheet" href="{cssfile}" />
    <link rel="stylesheet" href="pt.css" />
  </head>

  <body>
  <main>
