
  <div id="divfix">
     <div id="container">
       <div id="floated">
         <image src="floor_mat.png" width=90%>
       </div>
       Common XAFS materials
      </div>
     <p>
       <span class="instructions">Click on an element to jump to that list of compounds in BMM's
       collection.</span>
     </p>
     <hr class="sidebarhr"> 
     <p>
       Compounds marked with &#10004; are permanently mounted on the reference wheel.
     </p>
     <p>
       For compounds on the reference wheel (&#10004;), data are
       <tt>ln(I<sub>t</sub>/I<sub>r</sub>).</tt>
     </p>
     <hr class="sidebarhr"> 
     <p>
       Compounds marked with <span style="font-family: \'Brush Script MT\', cursive;">Fl</span>
       were measured in fluorescence.
     </p>
     <p>
        <span class="missing">{nosamp}</span> means the data was measured 
        at BMM on a high-quality sample that is not in BMM's collection.
     </p>
     <p>
       Edge energies in <span id="inrange">black text</span> are accessible at BMM.
       Those in <span id="outofrange">grey text</span> are not.
     </p>
     <p>
       Some L<sub>1</sub> data have small edge steps.
     </p>
     <hr class="sidebarhr"> 
     <p>
       <a href="https://github.com/NSLS-II-BMM/bmm-standards">
          <img src="github-mark.svg" width=20px>
          GitHub repository
       </a>
     </p>
     <p>
        <a href="https://github.com/NSLS-II-BMM/bmm-standards/archive/refs/heads/main.zip">
           <img src="zip.png" width=20px> Repo+data
        </a>
     </p>
  </div>

  <div class="ptable">
