
   <section class="element {type} nolink" id="{key}">
     <div class="element-number">{number}</div>
     <h2 class="element-symbol">{symbol}</h2>
     <div class="element-name">{name}</div>
     <!-- <div class="element-weight">{weight}</div> -->
   </section>
